*.sql
*.log
*.swp
schema/schema.rb
config/database.yml
autotest
spec/spec.opts
spec/stats
pkg
tmp
.DS_Store
config/ultrasphinx/*.conf
log/merb_rake.log
schema/schema.rb
log
public/images/raid
gems/gems
gems/specifications
merb_profile_results
all.js
all.css
gems/cache/*
bin/multigem
config/ultrasphinx/production.base